---
import Layout from '../layouts/Main.astro';
import PageHeader from '../components/PageHeader.astro';
import PathList from '../components/PathList.astro';

let title = "Home";
let line1 = 'A series of learning paths for growing software engineers.';
let line2 = 'Hand-crafted with love by vetted subject matter experts.';
let description = [line1, line2].join(' ');

const listItems = [
	{ url: '/noskills', title: 'I\'m new to software development', subtitle: 'Tutorials for newcomers.', footnote: '2 tutorials' },
	{ url: '/webdev', title: 'Web Development', subtitle: 'Get a jumpstart by learning very basic web development skills.', footnote: '1 path, 2 total tutorials' },
	{ url: '/basicflutter', title: 'Basic Flutter', subtitle: 'For folks wanting to jump into multi-platform mobile dev.', footnote: '2 tutorials' },
	{ url: '/advancedflutter', title: 'Advanced Flutter', subtitle: 'A course for developers with basic Flutter skills.', footnote: 'advancedflutter.com' },
];
const posts = [];
---
<Layout {title} {description}>
	<div class="centered-container">
		<section>
			<PageHeader {line1} {line2} />
			<PathList {listItems} {posts} />
		</section>		
	</div>
</Layout>

<style></style>