---
import Layout from '../layouts/Main.astro';
import StepListItem from '../components/steps/StepListItem.astro';

let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';

let items = await Astro.glob('./steps/*.md');
items = items.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---
<Layout {title} {description}>
	<section>
		<h1>{title}</h1>
		<p>{description}</p>
		{items.map((p) => <StepListItem post={p} />)}	
	</section>		
</Layout>