---
export interface Props {
	url: string;
	title: string;
	subtitle: string;
	footnote: string;
}

const { url, title, subtitle, footnote } = Astro.props;
---

<article>
	<!-- <p class="publish-date">{post.frontmatter.publishDate}</p> -->
	<a href={url}><p class="title">{title}</p></a>
	<p class="subtitle">{subtitle}</p>
	<p class="footnote">{footnote}</p>
</article>

<style>
	article {
		margin-bottom: 2rem;
		/* border-bottom: 4px solid var(--theme-divider); */
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: start;
		align-items: start;
	}

	/* header {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 2rem;
		text-align: left;
	} */

	.title,
	.subtitle,
	.footnote,
	.author,
	.publish-date {
		margin: 0;
	}

	/* .publish-date,
	.author {
		font-size: 1rem;
		color: var(--theme-text-lighter);
	} */

	.title {
		font-size: 1rem;
		font-weight: 700;
		color: var(--theme-text);
	}

	.subtitle,
	.footnote {
		font-size: 1rem;
		font-weight: 300;
		color: var(--theme-text-lighter);
	}
</style>
