---
import StepListItem from '../components/steps/StepListItem.astro';

// renders a list of learning journeys ("routes") as well as tutorials ("posts")

export interface Props {
	listItems: [any];
	posts: [any];
}

const { listItems, posts } = Astro.props;
---
<div class="container">
	{listItems.map((r) => <StepListItem url={r.url} title={r.title} subtitle={r.subtitle} footnote={r.footnote} />)}
	{posts.map((p) => <StepListItem url={p.url} title={p.frontmatter.title} subtitle={p.frontmatter.description} footnote={p.frontmatter.duration} />)}
</div>

<style>
	.container {
		margin-top: 2rem;
	}

	@media (max-width: 400px) {
  	.container {
  	}
	}
</style>